* {
    all: unset;
}


:root {
    --dark-color: #96afd5;
    --light-color: #bb7b7b;
}


/* Body styles */

.contactContainer body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}


/* Navigation styles */

.contactContainer nav {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}


/* Navigation list styles */

.contactContainer nav ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 25px;
    width: 50%;
    margin: 0 auto;
}


/* Navigation list item styles */

.contactContainer nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Navigation list item link styles */

.contactContainer nav ul li a {
    color: #fff;
    text-decoration: none;
}

.contactContainer nav ul li a:hover {
    color: rgb(97, 97, 76);
    font-size: 1.2em;
}


/* Header styles */

.contactContainer header {
    text-align: center;
}


/* Footer styles */

.contactContainer footer {
    background-color: #333;
    color: #fff;
    padding: 10px 60px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.contactContainer body {
    width: 100%;
}

.contactContainer section {
    width: 100%;
}

.contactContainer label {
    display: block;
    border: none;
    background-color: #f0f0f0;
    font-size: 3rem;
    font-family: Helvetica, sans-serif;
    color: #666666;
    width: 100%;
    padding: 3% 10%;
}

.contactContainer .input {
    padding-inline: 10%;
    width: 100%;
    height: 100%;
    border: none;
    background-color: #f0f0f0;
    font-size: 2rem;
    font-family: Helvetica, sans-serif;
    color: #666666
}

.contactContainer .input:focus {
    outline: none;
    caret-color: #666666;
}

.contactContainer svg {
    width: 1.4rem;
    height: 1.3rem;
}

.contactContainer #containerBack {
    margin-left: 10%;
    width: fit-content;
    font-family: Helvetica, sans-serif;
    border: none;
    color: #666666;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactContainer #backBtn {
    font-family: Helvetica, sans-serif;
    border: none;
    color: #b7b7b7;
    font-size: 1.5rem;
}

.contactContainer #containerBack:hover {
    #backBtn {
        color: #666666;
    }

    #light1 {
        transform: translateX(-20%)
    }

    #dark1 {
        transform: translateX(-40%);
        opacity: 0;
    }

    #dark2 {
        transform: translateX(0%);
    }
}

.contactContainer #darkGroup {
    fill: var(--dark-color);
}

.contactContainer #lightGroup {
    fill: var(--light-color);
}

.contactContainer #dark1,
.contactContainer #dark2,
.contactContainer #light1,
.contactContainer #backBtn {
    transition: all 1s ease;
}

.contactContainer #dark2 {
    transform: translateX(100%);
}

.contactContainer header {
    display: flex;
    align-items: start;
    background-color: #141111;
}

.contactContainer header img {
    max-width: 100px;
    margin-left: 120%;
}