html {
  background-color: #141111;
  /* Set the overall page background color for the whole page */
}

/* ------------------------------- HEADER ------------------------------- */

.Web-header {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #141111;
  /* Changed from 100% to 100vh to ensure it spans the full viewport height */
}

.Web-header-background {
  position: absolute;
  width: 100%;
  height: 58%;
  z-index: 1;
  display: flex;
  align-items: end;
  justify-content: end;
}

@keyframes floatUpDown {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}

.Web-header-background {
  animation: floatUpDown 3s ease-in-out infinite;
}


.Web-header-text {
  position: absolute;
  height: 70%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  color: white;
  padding: 5%;
}

@media (min-width: 1201px) {
  .CompanyLogo {
    width: 450px;
    /* Suitable for large screens */
    height: auto;
    /* Maintain aspect ratio */
    padding: 2vw;
    /* Padding for aesthetics */
  }
}

@media (min-width: 801px) and (max-width: 1200px) {
  .CompanyLogo {
    width: 350px;
    /* Suitable for medium screens */
    height: auto;
    /* Maintain aspect ratio */
    padding: 2vw;
    /* Slightly less padding */
  }
}

@media (max-width: 800px) {
  .CompanyLogo {
    width: 250px;
    /* Suitable for small screens */
    height: auto;
    /* Maintain aspect ratio */
    padding: 2vw;
    /* Minimal padding */
  }
}

.Web-header-text h1 {
  font-size: 12vw;
  /* Smaller size for small screens */
  font-weight: bolder;
  padding: 0;
  margin: 1vh 0;
}

.Web-header-text p {
  font-size: 3vw;
  /* Smaller size for small screens */
  padding: 0;
  margin: 1vh 1vh;
}

.Web-header-text a {
  color: white;
  text-decoration: none;
  font-size: 1.5vw;
  padding: 0 .7vw;
}

.Web-body {
  padding: 0 10%;
  background-color: white;
}

@media (max-width: 800px) {
  .Web-body {
    padding: 5%;
  }
}

/* ------------------------------- BODY ------------------------------- */

/*********** Body Text ***********/

.BodyText1,
.BodyText2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 5%;
}

.BodyText3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5%;
}

.BodyText2 {
  flex-direction: row-reverse;
}

.BodyText1 h1,
.BodyText2 h1 {
  width: 35%;
  font-size: 4vw;
  /* Constant font size for all displays */
  text-align: left;
  display: flex;
  align-items: center;
  word-wrap: break-word;
}

.BodyText1 p,
.BodyText2 p {
  width: 50%;
  text-align: left;
  word-wrap: break-word;
  margin: 3%;
}

.BodyText3 h1 {
  width: 100%;
  text-align: center;
  word-wrap: break-word;
  font-size: 4vw;
  text-align: left;
}

.BodyText3 p {
  width: 100%;
  text-align: left;
  word-wrap: break-word;
}

@media (min-width: 1201px) {

  .BodyText1 p,
  .BodyText2 p,
  .BodyText3 p {
    font-size: 30px;
    /* Larger font size for larger screens */
  }

}

@media (min-width: 801px) and (max-width: 1200px) {

  .BodyText1 p,
  .BodyText2 p,
  .BodyText3 p {
    font-size: 17px;
    /* Medium font size for medium screens */
  }
}

@media (max-width: 800px) {

  .BodyText1 p,
  .BodyText2 p,
  .BodyText3 p {
    font-size: 10px;
    /* Smaller font size for smaller screens */
  }
}

.BodyText2 h1 {
  margin-left: 6%;
  /* Add left margin to h1 in BodyText2 for better spacing */
}

.BodyText4 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin: 5%;
}

.BodyText4 h1 {
  width: 35%;
  font-size: 4vw;
  text-align: left;
  display: flex;
  align-items: center;
  word-wrap: break-word;
}

.BodyText4 p {
  width: 50%;
  text-align: left;
  word-wrap: break-word;
  margin: 3%;
}

@media (min-width: 1201px) {
  .BodyText4 p {
    font-size: 60px;
  }
}

@media (min-width: 801px) and (max-width: 1200px) {
  .BodyText4 p {
    font-size: 40px;
  }
}

@media (max-width: 800px) {
  .BodyText4 p {
    font-size: 30px;
  }
}


/*********** Card Container ***********/

.Card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  /* Ensure all cards stretch to the same height */
}

.DispCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid rgb(251, 226, 144);
  border-radius: 0 0 15% 0;
  margin: 2%
}

@media (min-width: 1201px) {
  .DispCard {
    height: 380px;
    width: 300px;
  }
}

@media (min-width: 801px) and (max-width: 1200px) {
  .DispCard {
    height: calc(380px * .75);
    /* 270px is approximately 84.375% of 320px */
    width: calc(300px * 0.75);
    /* 150px is approximately 68.182% of 220px */
  }
}

@media (max-width: 800px) {
  .DispCard {
    height: calc(500px * 0.5);
    /* 220px is approximately 68.75% of 320px */
    width: calc(300px * 0.5);
    /* 110px is 50% of 220px */
  }
}

.DispCard img {
  height: 30%;
  padding: 5%;
  /* Adjusted padding to be proportionally smaller */
}

.DispCard h1 {
  height: 10%;
  font-size: 20px;
  /* Default for desktop */
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.DispCard p {
  font-size: 13px;
  /* Default for desktop */
  margin: 5%;
  /* Adjusted margin to be proportionally smaller */
}

@media (max-width: 1200px) {
  .DispCard h1 {
    font-size: calc(20px * 0.75);
    /* 75% of desktop size */
  }

  .DispCard p {
    font-size: calc(13px * 0.75);
    /* 75% of desktop size */
  }

  .DispCard img {
    height: calc(30% * 0.75);
    padding: calc(5% * 0.75);
    /* Proportionally adjust padding */
  }
}

@media (max-width: 800px) {
  .DispCard h1 {
    font-size: calc(20px * 0.6);
    /* 60% of desktop size */
  }

  .DispCard p {
    font-size: calc(13px * 0.6);
    /* 60% of desktop size */
  }

  .DispCard img {
    height: calc(30% * 0.6);
    padding: calc(5% * 0.6);
    /* Proportionally adjust padding */
  }
}

/* ------------------------------- FOOTER ------------------------------- */

footer {
  height: 10vh;
  width: 60%;
  background-color: #141111;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 15%;
  padding-bottom: 5%;
}

a:visited {
  color: inherit;
  /* Keeps the color the same as unvisited links */
  text-decoration: inherit;
  /* Keeps the text decoration the same as unvisited links */
}

a {
  text-decoration: none;
  /* Remove underline from visited links */
}


.Web-footer a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 20px;
  background-color: #6200ea;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.Web-footer a:hover {
  background-color: #3700b3;
}

.footer-container {
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer-logo {
  width: auto;
  height: auto;
  padding: 20px;
  flex: 0 1 auto;
}

.CompanyLogoFooter {
  width: 50px;
  height: auto;
  padding: 20px;
}

.contact-container {
  /* background-color: #121212; */
  color: #ffffff;
  padding: 20px;
  /* border-radius: 8px; */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
  max-width: 600px;
  margin: 40px auto;
  text-align: center;
}

.contact-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.contact-container p {
  font-size: 16px;
  margin-bottom: 20px;
}

.contact-container form {
  display: flex;
  flex-direction: column;
}

.contact-container label {
  font-size: 14px;
  margin-bottom: 5px;
  text-align: left;
  /* Ensure labels are left-aligned */
}

.contact-container input,
.contact-container textarea {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #333;
  border-radius: 4px;
  background-color: #2c2c2c;
  color: #ffffff;
  position: relative;
  outline: none;
  /* Remove the default outline */
}

.contact-container input::placeholder,
.contact-container textarea::placeholder {
  color: #888;
}

.contact-container button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #6200ea;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
}

.contact-container button:hover {
  background-color: #3700b3;
}

nav {
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a img {
  max-width: 50px;
  /* Making the image small */
  display: block;
}

/* Blinking cursor effect */
.contact-container input::after,
.contact-container textarea::after {
  content: '';
  position: absolute;
  right: 10px;
  top: 50%;
  width: 2px;
  height: 1em;
  background-color: #ffffff;
  animation: blink 1s step-end infinite;
}

@keyframes blink {

  from,
  to {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

/* Remove highlighted effect on focus */
.contact-container input:focus,
.contact-container textarea:focus {
  background-color: #2c2c2c;
  /* Maintain the same background color */
  border-color: #6200ea;
  /* Optional: Change border color on focus */
}

/* Green text style */
.green-text {
  color: #00dc63;
  /* Adjust the shade of green as needed */
}

.link-text {
  color: white;
  /* Set text color to white */
  background-color: orange;
  /* Set background color to orange */
  padding: 3px 2px;
  /* Add padding to increase the size of the button */
  border-radius: 5px;
  /* Round the corners of the button */
  text-decoration: none;
  /* Remove underline from the link */
  display: inline-block;
  /* Ensure it's in line and behaves like a button */
  transition: background-color 0.3s;
  /* Smooth transition for hover effect */
}

.link-text:hover {
  background-color: darkorange;
  /* Darker orange on hover for better interaction feedback */
}